<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Luan Nguyen Program 4</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Home Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#database">Database</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to My Website</h1>
                <p class="lead">Made by Luan Nguyen.</p>
                <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this website</h2>
                        <p class="lead">This website is my Program #4 project: Website + Storage. It utilizes cloud services to create a website with specific functionalities integrated with cloud storage and NoSQL databases</p>
                        <ul>
                            <li>The website should have a "Load Data" button to import data from a provided URL into cloud storage and a NoSQL database.</li>
                            <li>A "Clear Data" button should remove data from both the cloud storage and NoSQL databas</li>
                            <li>Users should be able to input a first name and/or last name and retrieve corresponding data from the NoSQL database using a "Query" button</li>
                            <li>Data to be loaded will be in text format, with each line containing a last name, a first name, and a series of key-value pairs as attributes</li>
                            <li>The website must handle data loading intelligently, adding new items and updating existing ones in the NoSQL database without removing previous data</li>
                            <li>The system must support querying by last name and/or first name, with the assumption that each name combination is unique</li>
                        </ul>

                    <div style="text-align: center;">
                        <form action="/data_management" method="get">
                        <button type="submit" class="btn btn-primary">Start</button>
                        </form>
                    </div>

                </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Luan Nguyen 2024</p></div>
        </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/scripts.js') }}"></script>
    </body>
</html>
